* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

.nav-link {
  border: none;
  font-size: 1rem;
  color: #fff;
}

.nav-link a:hover {
  color: #51b64b;
}

body {
  font-family: "Gill Sans", "Gill Sans MT";
  font-family: "Poppins", sans-serif;
}
.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.btnfirst {
  width: 80px;
  border-radius: 0.4rem;
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
}

.btnsecond {
  font-size: 1.5rem;
  border-radius: 0.4rem;
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
}

.buttons-small {
  height: 100px;
}
/* header */

.header__home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.603)),
    url(../image/header2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}
.headerText {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 45%;
  left: 50%;
}
.headerText a:hover {
  text-decoration: none;
}
.headerText h1 {
  color: #fff;
  font-size: 4rem;
}
.headerText p {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2rem;
  padding-left: 3rem;
}
.headerText a {
  color: #fff;
}

.fal {
  font-size: 50px;
  color: #fff;
}

/* post */
.post-list .single-post {
  padding: 30px;
  background-color: rgb(192, 191, 191);
  margin-bottom: 30px;
}
/* .comment-wrap ul li {
  display: inline-block;
} */
/* sidebar */

.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 2rem;
}
.searchTerm {
  width: 65%;
  border: 2px solid #51b64b;
  border-right: none;
  padding: 10px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: rgb(163, 163, 163);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #51b64b;
  background: #51b64b;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.category-widget {
  margin-top: 3rem;
  padding-right: 6rem;
}
.category-widget h4 {
  padding-bottom: 0.5rem;
 
}
.category-widget li a {
  padding-top: 0.2rem;
  color: #51b64b;
}
.category-widget li a:hover {
text-decoration: none;
}

.sticky + .floater {
  padding-top: 5px;
}
.sidebar {
  top: 100px;
  left: 0;
  position: sticky;
  min-height: 23px;
  padding-top: 2rem;

}
/* post */

.section-header {
  position: relative;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  left: 32%;
  right: 0;
  background-color: #fff;
  z-index: 1030;
  padding-top: 40px;
  /* text-align: center; */
}

.section-header h2 {
  color: #51b64b;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}
.section-header h2 span {
  text-transform: lowercase;
}
.section-header p {
  font-size: 16px;
}

.blog {
  padding: 120px 0 90px;
}
.blog-content {
  margin-top: 70px;
}

.single-blog-item {
  margin-bottom: 30px;
  box-shadow: 0 0px 5px rgba(71, 71, 71, 0.2);
  max-height: auto;
}
.single-blog-item-txt {
  padding: 25px 28px 27px;
  height:270px;
}
.single-blog-item-txt h2 a {
  text-transform: initial;
  text-align: left;
  /* max-width: 100%; */
  line-height: .5;
  color: #51b64b;
  font-size: 1.2rem;
}
.single-blog-item-txt h2{
  width: 250px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:#51b64b;
}
.single-blog-item-txt h4 {
  font-size: 14px;
  color: #8f949d;
  font-weight: 400;
  margin: 12px 0 20px;
  
}
.single-blog-item-txt p {

  color: #8f949d;

    /* height: 40px; */

}

.single-blog-item-txt h4 a {
  font-size: 14px;
  padding-right: 14px;
  border-right: 1px solid #dde0e4;
  margin-right: 15px;
  text-transform: uppercase;
}

.single-blog-item:hover h2 a {
  color: blue;
}
.single-blog-item:hover {
  box-shadow: 0 10px 20px rgba(21, 19, 19, 0.4);
}

.comment-wrap ul li {
  padding-left: 28px;
  display: inline-block;
}
.single-blog-item-img img {
  border: none;
  max-width: 100%;
  height: auto;
}
.single-comment img{
  margin-bottom: 2rem;
}

/* footer */
.footer-area {
  padding-top: 70px;
  background-color: #222222;
}

.footer-area .footer-nav li {
  margin-top: 8px;
}

.footer-area .footer-nav li a {
  color: #fff;
}

.footer-area .footer-nav li a:hover {
  color: #51b64b;
}

.footer-area .primary-btn {
  background-color: #51b64b;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 60px;
  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

.footer-area .primary-btn:focus {
  outline: none;
}

.footer-area .primary-btn span {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 30px;

}

.footer-area .primary-btn:hover {
  background-color: #3e913a;
  box-shadow: none;
  color: #fff;
}

.footer-area .primary-btn:hover span {
  color: #fff;
  right: 20px;
}

.footer-area .primary-btn.white {
  border: 1px solid #fff;
  color: #fff;
}

.footer-area .primary-btn.white span {
  color: #fff;
}

.footer-area .primary-btn.white:hover {
  background: #fff;
  color: #51b64b;
}

.footer-area .primary-btn.white:hover span {
  color: #51b64b;
}

.footer-area h6 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.copy-right-text i,
.copy-right-text a {
  color: #51b64b;
}

.instafeed {
  margin: -5px;
}

.instafeed li {
  overflow: hidden;
  width: 25%;
}

.instafeed li img {
  margin: 5px;
}

.footer-social {
  text-align: right;
}

.footer-social a {
  background: #111111;
  width: 20px;
  width: 40px;
  display: inline-table;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover {
  background-color: #51b64b;
}

.footer-social a:hover i {
  color: #fff;
}

.footer-social i {
  color: #cccccc;
}

.single-footer {
  color: #fff;
}

.single-footer input {
  line-height: 38px;
  border: none;
  background: #fff;
  font-weight: 300;
  border-radius: 20px;
  color: #777;
  padding-left: 20px;
  width: 100%;
}

.single-footer .bb-btn {
  background-color: #51b64b;
  color: #fff;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}
